<div class="tab-pane fade show active" id="nav-books" role="tabpanel" aria-labelledby="nav-books-tab">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Название аптечной сети</th>
        <th scope="col">Адрес аптеки</th>
        <th scope="col">Рейтинг</th>
        <th scope="col">Номер телефона</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pharmacy of pharmacies">
        <td>
          <select name="network" class="form-control" [(ngModel)]="pharmacy.network">
            <option *ngFor="let network of networks" [ngValue]="network">{{network.networkName}}</option>
          </select>
        </td>
        <td><input type="text" name="address" class="form-control" placeholder="Адрес" [(ngModel)]="pharmacy.address"/></td>
        <td><input type="number" name="rating" class="form-control" placeholder="Рейтинг 0-5" min="0" max="5" step="0.1" [(ngModel)]="pharmacy.rating"/></td>
        <td><input type="tel" name="phoneNumber" class="form-control" placeholder="Номер телефона" [(ngModel)]="pharmacy.phoneNumber"/></td>
        <td>
          <button class="btn btn-warning" (click)="edit(pharmacy)">Изменить</button>
          <button class="btn btn-danger" (click)="delete(pharmacy)">Удалить</button>
        </td>
      </tr>
      <tr class="table-success">
        <td>
          <select name="network" class="form-control" [(ngModel)]="pharmacy.network">{{pharmacy.network.networkName}}
            <option *ngFor="let network of networks" [ngValue]="network">{{network.networkName}}</option>
          </select>
        </td>
        <td><input type="text" name="address" class="form-control" placeholder="Адрес" [(ngModel)]="pharmacy.address"/></td>
        <td><input type="number" name="rating" class="form-control" placeholder="Рейтинг 0-5" min="0" max="5" step="0.1" [(ngModel)]="pharmacy.rating"/></td>
        <td><input type="tel" name="phoneNumber" class="form-control" placeholder="Номер телефона" [(ngModel)]="pharmacy.phoneNumber"/></td>
        <td><button class="btn btn-success" (click)="add(pharmacy)">Добавить</button></td>
      </tr>
    </tbody>
  </table>
</div>
