<div class="d-grid gap-2 col-6 mx-auto">
  <button type="button" class="btn btn-danger btn-lg btn-block" routerLink="networks">Аптечные сети</button>
  <button type="button" class="btn btn-danger btn-lg btn-block" routerLink="pharmacies">Аптеки</button>
  <button type="button" class="btn btn-danger btn-lg btn-block" routerLink="employees">Сотрудники</button>
  <button type="button" class="btn btn-danger btn-lg btn-block" routerLink="drugs_in_pharmacies">Медикаменты в аптеках</button>
  <button type="button" class="btn btn-danger btn-lg btn-block" routerLink="drugs">Медикаменты</button>
</div>
